@import 'src/variables';

// .storm-data-heatmap-wrapper {
//   border: 0.5px solid $color-ui-primary;
//   border-radius: 20px;
//   transition: all 300ms ease-in;
//   &:hover {
//     border-color: red;
//   }
// }

svg.heatmap {
  // margin-top: 30px;
  position: relative;
  z-index: 10;

  background-color: rgba($color: #000000, $alpha: 0.2);

  border-radius: 20px;
  border: 0.5px solid $color-ui-primary;

  &.hover {
    cursor: pointer;

    border: 0.5px solid $color-ui-accent;
  }

  .legend-axis {
    font-size: 10px;

    text {
      font-size: 10px;
      fill: $color-ui-primary;
    }

    path,
    line {
      stroke: $color-ui-primary;
    }
  }
}

path.state {
  stroke: $color-ui-primary;
  stroke-opacity: 0.65;
  opacity: 1;
  z-index: 10;

  transition: all 300ms ease-in-out;

  &:hover {
    cursor: pointer;
    stroke: white;
    stroke-width: 2px;
    stroke-opacity: 1;
    z-index: 100;
  }

  &.selected {
    stroke: $color-ui-accent;
    stroke-width: 2px;
    stroke-opacity: 1;
    opacity: 1;
  }

  &.unselected {
    opacity: 0.5;

    &:hover {
      opacity: 0.9;
    }
  }

  &.invalid-state {
    pointer-events: none;
    cursor: not-allowed;
    stroke: $color-ui-primary;
    stroke-opacity: 0.65;
  }
}

.welcome {
  font-size: 24px;
}

.map-cover {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000, $alpha: 0.8);
  background: radial-gradient(
    circle,
    rgba($color: #000, $alpha: 1) 0%,
    rgba($color: #000, $alpha: 0.8) 45%,
    rgba($color: #000, $alpha: 0.4) 80%,
    rgba($color: rgb(6, 20, 102), $alpha: 0.4) 100%
  );

  opacity: 1;
  border-radius: 25px;
  border-left: none;
  border-bottom: none;
  z-index: 100;

  transition-property: opacity, z-index;
  transition-delay: 500ms;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  &.inactive {
    opacity: 0;
    z-index: -1;
  }

  .cover-text {
    color: $color-ui-accent;
    padding: 20px;
    text-align: center;
    z-index: 100;
  }

  .icon-wrapper {
    width: 8vh;
    height: 8vh;
    margin: 0 auto;
    animation: pulse 1.1s infinite alternate;

    .icon {
      width: 100%;
      height: 100%;
    }
  }
}
