@import 'src/variables';

@keyframes pulse {
  0% {
      transform: scale(.5);
      background-color: green;
      border-radius: 100%;
  }

  50% {
      background-color: orange;
  }

  100% {
      transform: scale(2.0);
      background-color: red;
  }
}

.global-temp-chart {
  .brush-group {
    .selection {
      fill: $color-ui-primary;
      stroke: $color-ui-primary;
    }
  }

  .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000, $alpha: 0.5);
    opacity: 1;
    border: 1px dotted rgba($color: $color-ui-primary, $alpha: 0.8);
    border-top-right-radius: 8px;

    transition: opacity 300ms ease-in;
    
    &.inactive {
      opacity: 0;
      z-index: -1;
    }
  }

  .area-path {
    // stroke: $color-ui-primary;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-opacity: 1;
  }
  .axis {
    text {
      fill: $color-ui-primary;
    }

    path,
    line {
      stroke: $color-ui-primary;
    }
  }

  .y-axis text {
    text-anchor: end;
  }
}
