@import 'src/variables';

@keyframes pulse {
  0% {
    transform: scale(0.5);
    background-color: green;
    border-radius: 100%;
  }

  50% {
    background-color: orange;
  }

  100% {
    transform: scale(2);
    background-color: red;
  }
}

.global-temp-chart {
  .brush-group {
    .selection {
      fill: $color-ui-primary;
      stroke: $color-ui-primary;
    }
  }

  .title {
  }

  .question {
    border: 0.5px solid rgba($color: $color-ui-primary, $alpha: 0.8);
    border-radius: 50%;
    width: 10px;
    padding: 4px 7px 3px 7px;
    margin-left: 10px;
    height: 10px;
    align-self: baseline;
    cursor: pointer;

    &.active {
      border: 1px solid rgba($color: magenta, $alpha: 0.8);
    }

    &:hover {
      border: 1px solid rgba($color: $color-ui-accent, $alpha: 1);
    }
  }

  .modal-text {
    color: $color-ui-primary;
    font-weight: bold;
  }

  .cover,
  .global-temp-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000, $alpha: 0.5);
    opacity: 1;
    border: 1px dotted rgba($color: $color-ui-accent, $alpha: 0.8);
    border-top-right-radius: 8px;
    border-left: none;
    border-bottom: none;

    transition: opacity 300ms ease-in;

    &.global-temp-modal {
      background-color: rgba($color: #000, $alpha: 0.9);
    }
    &.inactive {
      opacity: 0;
      z-index: -1;
    }
  }

  .cover-text {
    color : $color-ui-accent;
  }

  .modal-text {
    font-size: 14px;
  }

  .area-path {
    // stroke: $color-ui-primary;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-opacity: 1;
  }
  .axis {
    text {
      fill: $color-ui-primary;
    }

    path,
    line {
      stroke: $color-ui-primary;
    }
  }

  .y-axis text {
    text-anchor: end;
  }
}
