@import 'src/variables';

.event-by-storm-chart {
  .axis {
    text {
      fill: $color-ui-primary;
    }

    path,
    line {
      stroke: $color-ui-primary;
    }
  }

  .y-axis text {
    text-anchor: end;
  }
}
