@import '../variables';

.event-by-storm-chart {
  .title {
    font-size: 14px;
    text-align: left;
    color: $color-ui-primary;

    .active {
      color: $color-ui-accent
    }
  }

  .area-path {
    // stroke: $color-ui-primary;
    // stroke-width: 1.5;
    // stroke-linecap: round;
    // stroke-opacity: 1;

  }
  .axis {
    text {
      fill: $color-ui-primary;
    }

    path,
    line {
      stroke: $color-ui-primary;
      
    }

  }
}
