@import '../../../variables';

.navigation-link {
  &:before {
    content: ' ';
    width: 32px;
    height: 32px;
    background: #002939;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid $color-ui-primary;
  }
  &:hover:before {
    background: #114552;
  }

  &.active:before {
    background: $color-ui-primary;
  }
}
