.navigation-link {
  &:before {
    content: ' ';
    width: 32px;
    height: 32px;
    background: #002939;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid #002330;
  }
  &:hover:before {
    background: #002330;
  }

  &.active:before {
    background: #fff;
  }
}

