.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App {
  // MATERIAL OVERRIDES
  .MuiSelect-select {
    color: white;

    .css-1d3z3hw-MuiOutlinedInput-notchedOutline  {
      border-color: grey;
    }
  }

  MuiInputBase-root feildset {
    border-color: white;
  }
  .MuiOutlinedInput-root {
    border-color: white;
    color: white;
  }
  .MuiFormLabel-root {
    color: white;
  }

  svg.MuiSvgIcon-root path{
    fill: white;
  }

  .ui-form-container {
    width: 49%;
    height: 100%;
    display: flex;

  }
  .form-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #FFF;
  }

  .ui-select {
    width: 40%;
    padding-bottom: 10px;

  }
}
